<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--192.168.2.15-->
    <add name="DataBaseLinks"
         connectionString="Data Source=192.168.2.15;Initial Catalog=nccqdbrc;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
    <!--1、MSSQL 2、MYSQL 3、Oracle 4、Access -->
    <add name="DbType" connectionString="MSSQL"/>
    
  </connectionStrings>
  <appSettings>
    <add  key="Url1" value=""/>
    <add  key="Url2" value=""/>
    <add  key="Url3" value=""/>
    <add  key="Url4" value=""/>
    <add  key="Url5" value=""/>
    <add  key="Url6" value=""/>
    <add  key="Url7" value=""/>
    <add  key="Url8" value=""/>
    <add  key="Url9" value=""/>
    <add  key="Url10" value=""/>
    <add  key="Url11" value="memberlogin.aspx"/>
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime  requestValidationMode="2.0" />

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <applicationSettings>
    <Web.Properties.Settings>
      <setting name="Web_cn_rcggzy_www_WangZhan" serializeAs="String">
        <value>http://www.rcggzy.cn/rcztb/JSGCZtbMis2_RC/Pages/WebService/WangZhan.asmx</value>
      </setting>
    </Web.Properties.Settings>
  </applicationSettings>
</configuration>
